[package]
name = "shvrpc"
version = "3.0.4"
edition = "2021"

[dependencies]
shvproto = { git = "https://github.com/silicon-heaven/libshvproto-rs.git", branch = "master", version = "3.0.10" }

futures = "0.3.29"
log = "0.4.21"
sha1 = "0.10.6"
hex = "0.4.3"
url = "2.4.1"
glob = "0.3.1"
duration-str = "0.11.2"
async-trait = "0.1.77"
crc = "3.0.1"
serde = "1.0.193"
serde_yaml = "0.9.29"
async-std = { version = "1.12.0", features = ["attributes"], optional = true }

[features]
async-std = ["dep:async-std"]

